.bash_history
.python_history
.cache/*
.DS_Store
.wget-hsts
.ipynb_checkpoints/*
.ipython/*
.jupyter/*
.local/*

img/*
!img/.gitkeep
pdf2img/*
!pdf2img/.gitkeep
pdf/*
!pdf/.gitkeep
results/*
!results/.gitkeep
trim_img/*
!trim_img/.gitkeep
trim_results/*
!trim_results/.gitkeep

src/.ipynb_checkpoints/*